
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
}

ul {
    list-style: none;
}


select {
    border: none;
    border-bottom: 2px solid lightgrey;
    background-color: transparent;
    padding: 20px 0px 10px 0;
}

button {
    background-color: transparent;
    border: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;

}