.card-container {
    position: relative;
    width: 300px;
    margin-bottom: 30px;
    img {
        width: 100%;
        height: 250px;
    }
    h3 {
        font-size: 12px;
        margin-bottom: 30px;
    } 
}

.price-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 90px;
}

.space-between {
    h2 {
        margin-top: 20px;
    }
    span {
        margin-top: 10px;
        margin-right: 10px;
        color: red;
        border: 1px solid black;
        padding: 10px;
    }
}

.title-type-star {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    height: 126px;
    width: 200px;
}

.no-available {
    h3 {
        text-decoration:line-through;
        color: rgb(122, 117, 117);
    }
}

.fa-cart-plus {
    font-size: 25px;
}

.fa-star {
    font-size: 10px;
    color: lightgrey;
}


